@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Nunito', sans-serif;

}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

:root{
    --bg-color: #191f36;
    --snd-bg-color: #262840;
    --text-color: #fff;
    --main-color: #59B2F4;
}


body{
    background: var(--bg-color);
    color: var(--text-color);
}

section{
    min-width: 100vw;
    min-height: 100vh;
    padding: 5rem 9% 2rem;
   
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 700;
    cursor: default;
}

.navbar a{
    font-size: 1.5rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 700;
}

.navbar a:hover{
    color: var(--text-color);
    text-shadow: 0 0 .2rem #fff;
    text-decoration: underline;

}

#menu-icon{
    font-size: 2.5rem;
    color: var(--main-color);
    display: flex;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}

span{
    color: var(--main-color);
}

.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;    
}

.home-img img{
    width: 25vw;
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage{
    0%{
        transform: translateY(0)
    }
    50%{
        transform: translateY(-2.4rem);
    }
    100%{
        transform: translateY(0);
    }
}

.home-content p{
    font-size: 1.6rem;
    line-height: 2rem;
    
}

.social-media a{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: .5rem .5rem 3rem 0;
    transition: .5s ease;   
}

.social-media a:hover{
    background: var(--main-color);
    color: var(--snd-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn{
    margin-top: 2rem;
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: var(--bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;

}

.btn:hover{
    color: var(--snd-bg-colorg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.about{
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--bg-color);
    margin-bottom: -5rem;

}

.about-img img{
    width: 350px;
    height: 450px;
    border: .5rem solid #5982f4;
    border-radius: 2rem;    
}

.heading{
    text-align: center;
    font-size: 6rem;
    margin: 2rem 0 3rem;
}

.about-content h2{
    text-align: center;
    line-height: 1.2;
}

.about-content h3{
    font-size: 2.6rem;
}

.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.container {
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px 50px 10px 50px;
   
}


#prog{
    margin-bottom: 40px;
    color: #fff;
    font-size: 6rem;
    text-align: center;
}

.skills-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.technical-skills, .professional-skills {
    width: 47%;
    flex-wrap: wrap;
   
}

.skii {
    margin-bottom: 40px;
    text-decoration: none;
    font-size: 75px;
}

.skill {
    margin-bottom: 20px;
    text-align: left;
}

.skill p {
    margin-bottom: 5px;
    font-size: 1.5rem;
}

.percentage {
    float: right;
}

.progress-bar {
    background-color: #112240;
    border-radius: 10px;
    overflow: hidden;
    height: 5px;
    
}

.progress {
    background-color: var(--main-color);
    height: 100%;
    width: 0;
    transition: width 2s ease-out;
}

.professional-skills{
    display: inline-block;
    margin: 5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}
.skii{
    font-size: 2rem;
    justify-content: center;
    text-align: center;
    align-items: end;
}
.circle-skill{
    width: 160px;
    height: 160px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
  
}

.outer{
    position: absolute;
    height: 160px;
    width: 160px;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0, 0.15), -6px -6px 10px -1px  rgba(0,0,0, 0.15);
    border-radius: 50%;
    background: var(--snd-bg-color);
}

.inner{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 120px;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2), inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7), -0.5px -0.5px 0px  rgba(255, 255, 255, 1), 0.5px 0.5px 0px  rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    border: var(--snd-bg-color);
}

.number{
    color: #555;
    font-weight: 600;
    font-size: 30px;
}

.circle-progress{
    fill: none;
    stroke: var(--main-color);
    stroke-width: 20px;
    stroke-dasharray: 450;
    stroke-dashoffset: 450;
    animation: anim 2s linear forwards;
}

@keyframes anim{
    100%{
        stroke-dashoffset: 157.5;/* 450-450*0.65(percentage)*/
    }
}
.circle-progress{
    position: absolute;
    top: 0;
    left: 0;

    transform: rotate(0.75turn);
}

.text2{
    justify-content: center;
    font-size: 1.1rem;
    text-align: center;
    text-decoration: none;
    margin-bottom: 3rem;
    
}

.portfolio{
    background: var(--bg-color);
    margin-bottom: 25rem;
}

.portfolio h2{
    margin-bottom: 2rem;
}

.portfolio-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.portfolio-container .portfolio-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
    height: 200px;
    width: 100%;
}

.portfolio-box img{
    height: 200px;
    width: 100%;
    transition: .5s ease;
    opacity: 0.7;
}

.portfolio-box:hover img{
    transform: scale(1.1);
}

.portfolio-box .content{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.1) ,rgb(52, 96, 190));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: 0.5s ease;
}

.portfolio-box:hover .content{
    transform: translateY(0);
}

.content h5{
    margin-top: 2.5rem;
    font-size: 3rem;
}

.content p{
    font-size: 1.2rem;
    margin: .3rem 0 1rem;
    font-style: bold;
}

.content a{
    color: #fff;
    width: 5rem;
    height: 5rem;
}
/*.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio-content{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image{
    width: 450px;
    position: relative;
    margin: 10px;
    margin-top: -20rem;
    margin-bottom: -50px;
}

.image img{
    height: 200px;
    width: 100%;
    display: block;
    margin: auto;
    border-radius: 10px;
    box-shadow: 8px #5982f4;
}
.content{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(52, 96, 190, 0.815);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
    border-radius: 10px;
}

.content:hover{
    opacity: 1;
    
}

.content h5{
    font-size: 3rem;
}

.content p{
    font-size: 1.4rem;
    padding: .5rem;
    text-align: center;
}

.content a{
    display: flex;
    color: #fff;
    font-size: 15px;
    margin-top: 5px;
}
*/


.heading2 {
    margin-top: -15rem;
    font-size: 6rem;
    margin-bottom: 3rem;
    justify-content: center;
    text-align: center;
    margin-top: -35rem;
}

.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    

}

.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--snd-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;

}

.contact form .input-box input{
    width: 49%;
}

.contact form textarea{
    resize: none;
}

.contact form .btn{
    margin-top: 2rem;
    cursor: pointer;
   
}

.social-media1 a{
    float: center;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 0rem 1.5rem 3.1rem 0;
    transition: .5s ease;
    
}

.social-media1 a:hover{
    background: var(--main-color);
    color: var(--snd-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}


.line{
    color: var(--snd-bg-color);
}

.footer{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--snd-bg-color);
    
}

.footer-text{
    font-size: 1.6rem;
    align-items: start;
}

.footer-iconTop{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 1rem;
    background: var(--main-color);
    border-radius: .5rem;
    transition: .5s ease;
}

.footer-iconTop a i{
    font-size: 1.6rem;
    color: var(--text-color);
}

@media (max-width: 1200px){
    html{
        font-size: 55%;
        overflow-x: hidden;
        
    }
}

@media (max-width: 991px){
    .header{
        padding: 2rem 3%;
    }

    section{
        padding: 5rem 3%;
    }

    .skill{
        padding: 7rem 3%;
    }
    
    .portfolio{
        padding-bottom: 7rem;
    }

    .contact{
        min-height: auto;
    }

    .footer{
        padding: 2rem 3%;
    }
}



@media (max-width: 768px){
    #menu-icon{
        display: inline-flex;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0,0,0,.2);
        box-shadow: 0.5rem 1rem rgba(0,0,0,.2);
        display: none;
    }

    .navbar.active{
        display: block;
    }

    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0; 
    }


    .home{
        flex-direction: column;
    }

    .home-content h3{
        font-size: 2.6rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        width: 90vw;
        margin-top: 4rem;
    }

    .social-media{
        display: none;
    }

    .about{
        flex-direction: column;
       
    }

    .about-img img{
         width: 80vw;
         margin-top: 4rem;
    }

    .skill{
        margin-bottom: 3rem;
    }

    .about-content{
        order: 2;
    }

    .skills-section{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }

    .portfolio h2{
        margin: 3rem 3%;
    }

    .portfolio-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

    
 @media (max-width: 617px)   {
    #menu-icon{
        display: inline-flex;
    }
    .portfolio-container{
        grid-template-columns: 1fr;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .content{
        position: absolute;
    }

    .home-img img{
        width: 100%;
        margin-top: 8rem;
    }

    .about-img img{
        width: 100%;
        margin-top: 4rem;
    }

}   

@media (min-width: 450px){
   
    #menu-icon{
        display: block;
    }

    .navbar{
        max-width: 463vw;
    }

    .contact form .input-box input{
        width: 100%;
    }
   
}
