@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Nunito', sans-serif;

}

:root{
    --bg-color: #191f36;
    --snd-bg-color: #262840;
    --text-color: #fff;
    --main-color: #59B2F4;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

section{
    min-height: 100vh;
    padding: 10rem 9%;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 700;
    cursor: default;
}

.navbar a{
    font-size: 1.5rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 700;
}

.navbar a:hover{
    color: var(--text-color);
    text-shadow: 0 0 .2rem #fff;
    text-decoration: underline;

}

#menu-icon{
    font-size: 2.5rem;
    color: var(--main-color);
    display: flex;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content h3{
font-size: 3.2rem;
font-weight: 700
}

.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}

.home-content h3 span{
    color: var(--main-color);
}
span{
    color: var(--main-color);
}

.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;    
}

.home-img img{
    width: 25vw;
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage{
    0%{
        transform: translateY(0)
    }
    50%{
        transform: translateY(-2.4rem);
    }
    100%{
        transform: translateY(0);
    }
}

.home-content p{
    font-size: 1.6rem;
    line-height: 2rem;
    margin-right: 10rem;
}

.social-media a{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem .5rem 0;
    transition: .5s ease;
    
}

.social-media a:hover{
    background: var(--main-color);
    color: var(--snd-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn{
    margin-top: 2rem;
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: var(--bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;

}

.btn:hover{
    color: var(--snd-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--snd-bg-color);

}

.about-img img{
    width: 350px;
    height: 450px;
    border: .5rem solid #5982f4;
    border-radius: 2rem;
    
}

.heading{
    text-align: center;
    font-size: 6rem;
    margin: 2rem 0 3rem;
}
.about-content h2{
    text-align: center;
    line-height: 1.2;
}

.about-content h3{
    font-size: 2.6rem;
}

.about-content p{
    font-size: 1.5rem;
    margin: 2rem 0 3rem;
}


/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #0d1b2a;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
} */

.container {
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px 50px 10px 50px;
}

#prog{
    margin-bottom: 40px;
    color: #fff;
    font-size: 75px;
    text-align: center;
}

.skills-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.technical-skills, .professional-skills {
    width: 45%;
}

.skii{
    margin-bottom: 40px;
    text-decoration: none;
     font-size: 40px;
}

.skill {
    margin-bottom: 20px;
    text-align: left;
}

.skill p {
    margin-bottom: 5px;
    font-size: 2rem;
}

.percentage {
    float: right;
}

.progress-bar {
    background-color: #112240;
    border-radius: 10px;
    overflow: hidden;
    height: 5px;
}

.progress {
    background-color: #00d9ff;
    height: 100%;
    width: 0;
    transition: width 2s ease-out;
}

.professional-skills{
    display: inline-block;
    margin: 5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}
.skii{
    font-size: 2rem;
    justify-content: center;
    text-align: center;
    align-items: end;
}
.circle-skill{
    width: 160px;
    height: 160px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
  
}

.outer{
    position: absolute;
    height: 160px;
    width: 160px;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0, 0.15), -6px -6px 10px -1px  rgba(0,0,0, 0.15);
    border-radius: 50%;
    background: var(--snd-bg-color);
}

.inner{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 120px;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2), inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7), -0.5px -0.5px 0px  rgba(255, 255, 255, 1), 0.5px 0.5px 0px  rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    border: var(--snd-bg-color);
}

.number{
    color: #555;
    font-weight: 600;
    font-size: 30px;
}

.circle-progress{
    fill: none;
    stroke: var(--main-color);
    stroke-width: 20px;
    stroke-dasharray: 450;
    stroke-dashoffset: 450;
    animation: anim 2s linear forwards;
}

@keyframes anim{
    100%{
        stroke-dashoffset: 157.5;/* 450-450*0.65(percentage)*/
    }
}
.circle-progress{
    position: absolute;
    top: 0;
    left: 0;

    transform: rotate(0.75turn);
}

/* .circle-skill {
    display: inline-block;
    margin: 40px;
    text-align: center;
    font-size: 2rem;
    margin-top: -40px;
    justify-content: space-evenly;
}

.circle {

    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #112240;
}

.circle::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #0d1b2a;
    z-index: 1;
}

.circle-progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #00d9ff;
    clip: rect(0, 100px, 100px, 50px);
    transform: rotate(2deg);
    transform-origin: 50% 50%;
    transition: transform 2s ease-out;

}

.circle-percentage-teamwork{
     width: rotate(85%);
}

.circle-percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: #00d9ff;
    font-weight: bold;
} */

.text{
    justify-content: center;
    font-size: 6rem;
    text-align: center;
    text-decoration: none;
   
    
}

.text2{
    justify-content: center;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    margin-top: 3px;
    margin-bottom: -4rem;
}

.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio-content{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image{
    width: 450px;
    position: relative;
    margin: 10px;
    margin-top: -20rem;
    margin-bottom: -50px;
}

.image img{
    height: 200px;
    width: 100%;
    display: block;
    margin: auto;
    border-radius: 10px;
    box-shadow: 8px #5982f4;
}
.content{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(52, 96, 190, 0.815);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
    border-radius: 10px;
}

.content:hover{
    opacity: 1;
    
}

.content h5{
    font-size: 3rem;
}

.content p{
    font-size: 1.4rem;
    padding: .5rem;
    text-align: center;
}

.content a{
    display: flex;
    color: #fff;
    font-size: 15px;
    margin-top: 5px;
}


.heading2 {
    margin-top: -15rem;
    font-size: 6rem;
    margin-bottom: 3rem;
    justify-content: center;
    text-align: center;
    margin-top: -35rem;
}

.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;

}

.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--snd-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;

}

.contact form .input-box input{
    width: 49%;
}

.contact form textarea{
    resize: none;
}

.contact form .btn{
    margin-top: 2rem;
    cursor: pointer;
   
}

.social-media a{
    float: center;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem .5rem 0;
    transition: .5s ease;
    
}

.social-media a:hover{
    background: var(--main-color);
    color: var(--snd-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}


.line{
    color: var(--snd-bg-color);
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--snd-bg-color);
    
}

.footer-text{
    font-size: 1.6rem;
    align-items: start;
}

.footer-iconTop{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 1rem;
    background: var(--main-color);
    border-radius: .5rem;
    transition: .5s ease;
}

.footer-iconTop a i{
    font-size: 1.6rem;
    color: var(--text-color);
}